@use "../abstracts/" as *;
.skill__block{
  display: flex;
  align-items: center;
  margin: 1em 0; 
}
.skill__percentage-bar,
.skill__name{
  flex: 1 1 0;
}
.skill__name{
  font-weight: 900;
}
.skill__percentage-bar{  
  width: 100%;
  height: 0.5em;
  background-color: $secondary-color--70;
  border-radius: 0.5em;
  position: relative;
  &::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 0.5em;
    background-color: $primary-color;
    border-radius: 0.5em;
  }
  @for $i from 1 through 10{
    &--#{$i}0{
      &::before{
        width: $i*10%;
      }
    }  
  }
}