@use "../abstracts/" as *;

.work-slider{
  z-index: 2;
  img{
    min-width: 100%;
  }
}
.tns-outer{
  position: relative;
  margin: 3rem 1.5rem;
  
}
.tns-ovh{
  position: relative;
  z-index: 1;
}
.tns-controls{
  button{
    position: absolute;
    top: calc(50% - 30px);
    left: -36px;
    width: 100%;
    z-index: 0;
    background-color: transparent;
    border: none;
    width: 35px;
    height: 70px;
    margin: 0;
    padding: 0;
    &[data-controls="next"]{
      left: 101%;
  
      &::after,
      &::before{
        content:"";
        display: inline-block;
        width: 30px;
        height: 3px;
        border-radius: 5px;
        background-color: $secondary-color--50;
        transform: 
          rotate(45deg)
          translate(-17px, -10px);
      }
      &::before{
        transform: 
          rotate(-45deg) 
          translate(-15px, 8px);
      }
    }
    &[data-controls="prev"]{
      &::after,
      &::before{
        content:"";
        display: inline-block;
        width: 30px;
        height: 3px;
        border-radius: 5px;
        background-color: $secondary-color--50;
        transform: 
          rotate(45deg)
          translate(-2px, 2px);
      }
      &::before{
        transform: 
          rotate(-45deg) 
          translate(1px, -5px);
      }
    }
  }
}
.tns-nav{
  position: absolute;
  // bottom: 0;
  transform: translate(-50%, 0);
  left: 50%;
  button{
    border: none;
    margin: 0 0.3rem;
    background-color: $secondary-color--50;
    width: 1rem;
    height: 0.2rem;
    border-radius: 2px; 
  }
  .tns-nav-active{
    background-color: $primary-color;
  }
}