.work-slider{
  img{
    min-width: 100%;
  }
}
.tns-outer{
  position: relative;
}
.tns-controls{
  position: absolute;
  top: 50%;
  left: -25px;
  width: 100%;
  z-index: 0;
  button[data-controls="next"]{
    position: absolute;
    top: 0;
    right: -50px;
  }
}