// .container{
//   width: 95vw;
//   max-width: 1200px;
//   margin: 0 auto;
//   display: flex;
//   
//   .col{
//     flex: 0 0 1;
//   }

// }

$grid-columns:12;
$column-gutter:20;
$container-width:1200px;
$sizes:(
  'lg':'screen and (min-width:1100px)',
  'sm':'screen and (min-width:768px)',
  'xs':'screen and (min-width:480px)'
);

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container{
  max-width: $container-width;
  padding: ($column-gutter/2)+px;
  width:96%;
  margin: 0 auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: calc($column-gutter / 2)+px;
  margin-left: calc($column-gutter / 2)+px;  
  &--vertically-center{
    align-items: center;
  }
}
[class*=col-]{
  width:100%;
  padding:0 calc($column-gutter / 2)+px;
}
@each $col, $query in $sizes{

  @media #{$query}{
    @for $i from 1 through $grid-columns {
      .col-#{$col}-#{$i} {
        flex-basis: calc( 100% / $grid-columns * $i);
      }
    }
    @for $i from 1 through $grid-columns {
      .offset-#{$col}-#{$i}{
        margin-left: calc( 100% / $grid-columns * $i);
      }
    }
  }
}
