//var(--bg-gradient, );
$primary-color: hsl(338, 76%, 55%);
$secondary-color:hsl(253, 33%, 30%);
$secondary-color-50:hsl(252, 14%, 64%);
$secondary-color-70:hsl(252, 14%, 84%);
$bg-gradient:linear-gradient(111deg, #FFF -2.32%, #C0BECF 110.57%) ;